
.edit-section{
    display: flex;
    flex-direction: column;   
    width: 40%;  
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);   
    padding: 40px 50px;
    height: 93.6vh;
  }  
  
  
  .edit-section input{
    padding:5 0px; 
    margin: 3px 0;
    height: 30px;
  }
  