
.cv-section{
    width: 50%;
    display: flex;   
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);    
    overflow: hidden; 
    min-height: 93.6vh;
  }  
  
  
  .experience{
    width: 65%;
    padding: 30px;
   
  }

  @media  (max-width: 1200px) {
    .cv-section{
      width: 95%; 
      
    }
  }
  
  
  