.experience{
    width: 65%;
    padding: 50px;
   
  }
  
  .work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  @media only screen and (max-width: 1200px) {
    .experience{
      width: 45%;  
    }
  }