*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;

}


header{

  text-align: center;
  padding: 5px;
 

}
.title{
  font-size: 50px;
}
.main-container{
  display: flex;
  flex-direction: row;
    justify-content: center;
  height: 100vh;
  gap: 50px;
}


.edit-section{
  display: flex;
  flex-direction: column;
  width: 40%;  
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;
  padding: 40px 50px;
 
}

.about-edit{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.upload-picture-label{
background-color:  rgb(82, 79, 79);
color: white; 
padding: 5px;
border: 1px solid black;
}

.upload-picture{
  display: none;

}
.education-edit{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.experience-edit{
  margin: 20px 0;
  display: flex;
  flex-direction: column;

}

.edit-section input{
  padding:5 0px; 
  margin: 3px 0;
  height: 30px;
}

.cv-section{
  width: 50%;
  display: flex;   
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;
  overflow: hidden;
 

}

.about{
  width: 35%;
  background-color: rgb(82, 79, 79);
  color:white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  

}

.about-body{
  /* text-align: left; */
}

.about-footer{

}

.profile-picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.experience{
  width: 65%;
  padding: 50px;
 
}

.education-section{
  display: flex;
  flex-direction: column;
}

button{
  background-color: rgb(82, 79, 79);
  color:white;
  padding: 5px;

}
