*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 244, 237);

}


button{
  background-color: rgb(82, 79, 79);
  color:white;
  padding: 5px;

}
